@font-face{
    font-family: 'Proxima Nova Extra bold';
    src: url(../webfonts/proximanova_extrabold.otf);
}

.proxima_bold {
    font-family: 'Proxima Nova Extra bold';
}

body {
    font-size: 100%;
    background-color: white;
}

.wrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

section {
    padding: 100px 0;
    background-color: white;
}

footer{
    height: 33.12rem;
    padding: 3.12rem;
    margin-top: 120px;
    padding-top: 120px;
    position: relative;
}

h1, h2, h3, h4, h5 {
    color: #0066ff;
}

.azul_claro {
    color: #0052ff;
}

#logo {
    width:143px;
	height:47px;
	background-position: center center;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	z-index:1;	
}

#logo h1{
    display: none;
}

.navbar-toggler:hover {
    background-color: #0099cc;
}

#navbar {
    margin-left: 7.5%;
    position: absolute;
}

.nav-link {
    display: inline;
}

.nav-link:hover {
    border-bottom: 1px solid white;
}

#menu {
    line-height: 40px;
    z-index: 9;
}

#secao_1 {
    height: 1022px;
    background: rgba(0, 82, 255, 0.8);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    z-index: 2:
}

/* Não pude fazer o overlay direto por causa do IE*/

#img_secao1 {
    height: 1022px;
    background: url(../img/bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1:
}

#back {
    font-family: 'Proxima Nova Extra bold';
    height: 1022px;
    font-size: 1500px;
    color: rgba(52, 153, 250, 1);
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    -khtml-opacity: 0.1;
    -moz-opacity: 0.1;
    line-height: 78%;
    position: absolute;
    z-index: 0;
}

#back_2 {
    font-family: 'Proxima Nova Extra bold';
    height: 873px;
    font-size: 873px;
    color: rgba(52, 153, 250, 1);
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    -khtml-opacity: 0.1;
    -moz-opacity: 0.1;
    margin-top: 337px;
    margin-left: -50px;
    position: absolute;
    z-index: 0;
}

#secao_2 {
    height: 700px;
}

#secao_3 {
    height: 900px;
}

#secao_4 {
    height: 400px;
}

#secao_5{
    height: 680px;
}

.background_blue {
    background-color: #0066ff;
}

.sombra {
    text-shadow: 1px 1px 1px #111;
}

.borda {
    border-right: 20px solid black;
}

#linha {
  width: 100%;
  border-bottom: 2px solid #fff;
  float: right;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  margin-top: -20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear, margin-top 1.5s linear;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1; 
    margin-top: 0px; 
    transition: margin-top 0.2s linear;
}

.dropdown:hover .dropdown-toggle {background-color: #0099cc; transition: background-color 1.2s linear;}

.circulo {
  border-style: solid;
  border-width: 0.5rem;
  position: absolute;
}

.retangulo {
    position: absolute;
}

#circulo1 {
  width: 100rem;
  height: 87.5rem;
  background-color: transparent;
  border-color: white;
  margin-left: -55em;
  margin-top: -50em;
}

#circulo2 {
  width: 41.9rem;
  height: 42.69rem;
  background-color: transparent;
  border-color: #0066ff;
  margin-left: 70em;
  margin-top: 50em;
}

#circulo3 {
  width: 57.3rem;
  height: 58.44rem;
  background-color: transparent;
  border-color: #0066ff;
  margin-left: -25em;
}

#circulo4 {
  width: 45.2rem;
  height: 44.3rem;
  background-color: transparent;
  border-color: #0066ff;
  margin-left: 130%;
  margin-top: -10px;
}

#circulo5 {
  width: 39.9rem;
  height: 39.1rem;
  background-color: transparent;
  border-color: #0066ff;
  margin-left: 70%;
  z-index: 0;
}

#esfera {
    width: 127px; 
    height: 127px; 
    background-color: #0066ff;
    border: 0px;
    margin-left: 5%;
    position: relative;
    float: left;
}

#esfera2 {
    width: 75px; 
    height: 75px; 
    background-color: #0066ff;
    border: 0px;
    margin-top: -400px;
    position: relative;
    float: left;
}

#esfera3 {
    width: 839px; 
    height: 830px; 
    background-color: #0052ff;
    background-image: url(../img/Icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    border: 25px solid #0048e1; 
    margin-top: -400px;
    position: relative;
    float: left;
}

#retangulo_tras {
    width: 334px;
    height: 310px;
    background-color: #324774;
    display: block;
    float: right;
    margin-top: -140px;
    z-index: 0;
}

#retangulo_frente {
    width: 287px;
    height: 448px;
    background-color: #0052ff;
    display: block;
    float: right;
    margin-top: -160px;
    z-index: 1;
}

#retangulo_overlay {
    width: 287px;
    height: 448px;
    background-color: rgba(0, 26, 255, 0.8);
    background-blend-mode: overlay;
    display: block;
    float: right;
    margin-top: -160px;
    z-index: 3;
}

#img_demo {
    width: 534px;
    height: 357px;
    background-image: url(../img/demo.png);
    display: block;
    margin-top: 70px;
    margin-left: 30px;
    position: absolute;
    z-index: 2;
}

.img_left {
    width: 720px;
    height: 720px;
    position: relative;
    float: left;
    background-repeat: no-repeat;
}

#img_left_position {
    margin-left: -180px;
    margin-top: 400px;
}

#img_left {
    background: rgba(0, 82, 255, 0.8);
    background-blend-mode: overlay;
    z-index: 2;
}

/* Não pude fazer o overlay direto por causa do IE*/

#img_left_back {
    background: url(../img/demo2.png);
    background-size: 100%;
    z-index: 1:
}

#our_team {
    margin-top: 700px; 
    background-color: white;
    z-index: 3;
}